* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #161616;
  background-color: #f1eded;
}

h1 {
  font-family: 'Cabin Sketch', Arial, Helvetica, sans-serif;
  font-size: 26px;
}

h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-size: 26px;
  color: #161616;
}

.header-main {
  width: 99%;
  z-index: 2;
  background-color: #e6e2e2;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 40px;
  box-shadow: inset 0 0 0.5em gray;
}

.website-title {
  color: #7f7b7a;
  text-shadow: 0px 0px 20px white;
  font-size: 45px;
  align-self: center;
}

.header-nav {
  text-align: justify;
  align-self: center;
}

.index-hover:hover {
  color: white;
  background-color: gray;
}

.hover-link {
  transition: color 1s ease-in-out;
}

.hover-link:hover {
  color: blue;
}

.content-main {
  padding-top: 90px;
  position: relative;
}

.section-main {
  padding-right: 220px;
}

.aside-main {
  position: absolute;
  right: 0;
  top: 120px;
  width: 200px;
  height: 520px;
  background-image: url("img/leonardo.jpg");
  box-shadow: 0 0 1em gray;
  text-align: center;
}

.aside-title {
  padding-top: 60px;
  text-align: center;
  text-transform: uppercase;
}

.page-title {
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
}

.article-index-one {
  height: 480px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.flex-element-article1-1 {
  order: 1;
  text-align: justify;
  padding-right: 15px;
}

.flex-element-article1-2 {
  order: 2;
  align-self: center;
}

.article-index-two {
  height: 330px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.flex-element-article2-1 {
  order: 1;
  align-self: center;
  padding-right: 15px;
}

.flex-element-article2-2 {
  order: 2;
  text-align: justify;
}

.article-index-three {
  height: 340px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.flex-element-article3-1 {
  order: 1;
  text-align: justify;
}

.flex-element-article3-2 {
  order: 2;
  align-self: center;
  padding-left: 15px;
}

.article-index-four {
  height: 400px;
  margin-bottom: 10px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-element-article4-1 {
  order: 1;
  align-self: center;
  padding-right: 15px;
}

.flex-element-article4-2 {
  order: 2;
  text-align: justify;
}

.footer {
  background: lightgray;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* эксперимент с position */
.position-parent {
  width: 200px;
  height: 300px;
  background: pink;
  position: relative;
  margin: 50px;
}
.position-child {
  height: 300px;
  background: violet;
  position: relative;
  left: 100px;
  top: 100px;
}
.position-child-absolute {
  width: 100px;
  height: 300px;
  background: gray;
  position: absolute;
  left: 100px;
  top: 100px;
}
.position-child-fixed {
  width: 100px;
  height: 300px;
  background: green;
  position: fixed;
  right: 100px;
  top: 100px;
}


.position-child-z-index {
  width: 100px;
  height: 300px;
  background: purple;
  position: absolute;
}

.z-index-1 {
  left: 50px;
  top: 50px;
  background: red;
  z-index: 3;
}
.z-index-2 {
  left: 100px;
  top: 100px;
  background: green;
  z-index: 2;
}
.z-index-3 {
  left: 150px;
  top: 150px;
  background: blue;
  z-index: 1;
}

.font {
  padding: 100px 0;
}

.font-size {
  font-size: 30px;
}

.font-weight {
  font-weight: 700;
}

.font-style {
  font-style: italic;
}

.font-variant {
  font-variant: small-caps;
}

.text-shadow {
  text-shadow: 5px 5px 1px gray;
}




/* background-image */

.background-image-svg {
  width: 300px;
  height: 100px;
  margin: 100px;
  background-image: url("img/donuts.svg");
  background-repeat: repeat;
}

.background-image-img {
  width: 300px;
  height: 100px;
  margin: 100px;
  background-image: url("img/img4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* flexbox */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /*align-items: center;*/
  align-content: space-around;

  /* box model */
  height: 500px;
  background-color: white;
  border: 1px solid navy;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 200px;
}

.flex-element {
  width: 200px;
}

.flex-element-1 {
  order: 5;
  background-color: green;
}

.flex-element-2 {
  order: 3;
  background-color: blue;
}

.flex-element-3 {
  order: 2;
  flex-grow: 5;
  background-color: red;
}

.flex-element-4 {
  order: 1;
  background-color: yellow;
}

.flex-element-5 {
  order: 4;
  background-color: purple;
}


.background-color {
  width: 200px;
  height: 200px;
  background-color: gray;
  position: relative;
  margin: 50px;
}

.background-color-child {
  width: 200px;
  height: 200px;
  background-color: green;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  border: 1px solid blue;
  position: absolute;
  top: 50px;
  left: 50px;
  background-image: url("img/pizza.svg")
}

.linear-gradient {
  width: 200px;
  height: 200px;
  margin: 70px;
  background-image: linear-gradient(purple, black);
}

.linear-gradient-1 {
  width: 200px;
  height: 200px;
  margin: 70px;
  background-image: linear-gradient(to top left, blue, black);
}

.linear-gradient-2 {
  width: 200px;
  height: 200px;
  margin: 70px;
  background-image: linear-gradient(90deg, green, black);
}

.linear-gradient-3 {
  width: 200px;
  height: 200px;
  margin: 70px;
  background-image: linear-gradient(yellow, lightblue, gray, black);
}

.linear-gradient-4 {
  width: 200px;
  height: 200px;
  margin: 70px;
  background-image: linear-gradient(orange 10%, lightblue 60%, blue 80%, black);
}


.radial-gradient {
  width: 400px;
  height: 200px;
  margin: 70px;
  background-image: radial-gradient(purple, black);
}

.radial-gradient-1 {
  width: 400px;
  height: 200px;
  margin: 70px;
  background-image: radial-gradient(at left bottom, pink, black);
}

.radial-gradient-2 {
  width: 400px;
  height: 200px;
  margin: 70px;
  background-image: radial-gradient(circle, purple, black);
}

.gradient-generator {
  width: 400px;
  height: 200px;
  background-image: linear-gradient(to bottom, #feffff 0%,#ddf1f9 28%,#a0d8ef 95%);
  margin: 70px;
}



.box-shadow {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  box-shadow: 10px 15px 5px 1px black;
  margin: 70px;
}

.box-shadow-inset {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  box-shadow: inset 5px 10px 10px blue;
  margin: 70px;
}


.calc-parent {
  border: 1px solid gray;
  height: 300px;
}

.calc-parent-inner {
  display: flex;
  height: 300px;
  margin-left: -10px;
  margin-right: -10px;
}

.calc-child {
  width: calc(50% - 20px);
  background-color: blue;
  margin: 0 10px;
}





.calc-parent-part {
  display: flex;
  height: 200px;
  border: 1px solid gray;
  margin: 20px;
}

.calc-child-part {
  background-color: green;
  width: calc(100% / 7 - 10px);
  margin: 0 5px;
}





.calc-parent-2 {
  display: flex;
  height: 200px;
  border: 1px solid gray;
  margin: 50px;
}

.calc-child-responsive {
  width: calc(100% - 70px);
  background-color: yellow;
}

.calc-child-fixed {
  width: 50px;
  margin-left: 20px;
  background-color: blue;
}


.hover {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 20px;
}

.hover:hover {
  background-color: blue;
  width: 50px;
  height: 50px;
  border: 1px dashed black;
}

.link-hover {
  color: green;
  font-size: 36px;
}

.link-hover:hover {
  color: black;
  text-decoration: none;
}


.focus {
  height: 50px;
  width: 150px;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  outline: 0;
}

.focus:focus {
  box-shadow: inset 0 0 15px 0 rgba(0,0,0,.8);
}


.pseudo-classes-parent {
  padding: 20px;
  border: 1px dashed black;
  margin: 20px;
}

.pseudo-classes-child {
  height: 20px;
  margin: 20px;
  border: 1px solid gray;
}

.pseudo-classes-child:first-child {
  background-color: blue;
  margin-top: 0;
}

.pseudo-classes-child:last-child {
  background-color: green;
  margin-bottom: 0;
}

.pseudo-classes-child:nth-child(2) {
  border-color: red;
}

.pseudo-classes-child:nth-child(2n) {
  background-color: yellow;
}

.pseudo-classes-child:nth-child(odd) {
  background-color: pink;
}

.pseudo-elements:before {
  content: 'Я впереди всего текста';
  color: red;
}

.pseudo-elements:after {
  content: 'Я после всего текста';
  color: blue;
}


.transition-color {
  font-size: 30px;
  color: black;
  transition: color 1s ease 1s, font-size 2s ease-out;
}

.transition-color:hover {
  color: red;
  font-size: 45px;
}

.transition-left {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  position: relative;
  left: 0;
  transition: left 3s ease-in 1s, width 2s linear;
}

.transition-left:hover {
  left: 200px;
  width: 300px;
}
